<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

### Analysing Ad Budgets for different media channels

### DESCRIPTION

#### Problem:

The given dataset contains ad budgets for different media channels and the corresponding ad sales of XYZ firm. Evaluate the dataset to:

* Find the features or media channels used by the firm
* Find the sales figures for each channel
* Create a model  to predict the sales outcome
* Split as training and testing datasets for the model
* Calculate the Mean Square Error (MSE)

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
# Import the advertising dataset
df_ad_data = pd.read_csv(
    'D:\\NIPUN_SC_REC\\3_Practice_Project\\Course_5_Data Science with Python\\Practice_projects\\Lesson 8.16_practice_project\\Advertising Budget and Sales.csv', index_col=0)

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
df_ad_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [4]:
#Check the total number of elements in the dataset
df_ad_data.size

800

#### 3: Find the features or media channels used by the firm

In [5]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_ad_data.shape

(200, 4)

In [6]:
#View the names of each of the attributes
df_ad_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [7]:
#Create a feature object from the columns
X_features = df_ad_data[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]

In [8]:
#View the feature object
X_features.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [9]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target =  df_ad_data[['Sales ($)']]

In [10]:
#View the target object
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [11]:
#Verify if all the observations have been captured in the feature object
X_features.shape

(200, 3)

In [12]:
#Verify if all the observations have been captured in the target object
Y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [13]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train, y_test = model_selection.train_test_split(X_features,Y_target,random_state=1)
from sklearn import model_selection
x_train, x_test, y_train, y_test = model_selection.train_test_split(X_features,Y_target,random_state=1)

In [14]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print (x_train.shape,y_train.shape, x_test.shape,  y_test.shape)

(150, 3) (150, 1) (50, 3) (50, 1)

#### 6: Create a model  to predict the sales outcome

In [15]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()
linReg.fit(x_train,y_train)

LinearRegression()

In [16]:
#Print the intercept and coefficients 
print (linReg.intercept_)
print (linReg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [17]:
#Predict the outcome for the testing dataset
y_predict=linReg.predict(x_test)
y_predict

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

#### 7: Calculate the Mean Square Error (MSE)

In [18]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
import numpy as np

In [19]:
#Calculate the MSE(Mean Squared Error)
print(metrics.mean_squared_error(y_test, y_predict))

1.9730456202283366

In [20]:
#calculating RMSE(Root Mean Squared Error)
print(np.sqrt(metrics.mean_squared_error(y_test, y_predict)))

1.4046514230328948

In [21]:
#varience Score
print (linReg.score(x_test,y_test))

0.9156213613792232